<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

# Index

- [1 Introduction](#1)
- [2 Title](#2)
- [3 Title](#3)
- [4 Title](#4)
- [5 Title](#5)
- [6 Title](#6)
- [7 Title](#7)
- [8 Title](#8)
- [9 Title](#9)
- [10 Title](#10)
- [11 Title](#11)
- [12 Title](#12)
- [13 Title](#13)
- [14 Title](#14)
- [15 Next Steps](#15)
- [16 Conclusions](#21)

# 1

## Introduction

Q1:

    Read the dataset into a Dataframe called jeopardy using Pandas.
    Print out the first 5 rows of jeopardy.
    Print out the columns of jeopardy using jeopardy.columns.
    Some of the column names have spaces in front.
        Remove the spaces from each item in jeopardy.columns.
        Assign the result back to jeopardy.columns to fix the column names in jeopardy.
    Pay close attention to the format of each column.

In [203]:
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv')
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [204]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [205]:
jeopardy.columns=jeopardy.columns.str.strip()
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

Q2: 

    Write a function to normalize questions and answers. The function should:
        Take in a string.
        Convert the string to lowercase.
        Remove all punctuation in the string.
        Return the string.
    Normalize the Question column.
        Use the Pandas Series.apply method to apply the function to each item in the Question column.
        Assign the result to the clean_question column.
    Normalize the Answer column.
        Use the Pandas Series.apply method to apply the function to each item in the Answer column.
        Assign the result to the clean_answer column.

In [206]:
# import nltk
# nltk.download('stopwords')

In [207]:
jeopardy['clean_question']=jeopardy['Question'].str.lower().str.replace('\W',' ',regex=True).str.split()
jeopardy['clean_answer']=jeopardy['Answer'].str.lower().str.replace('\W',' ',regex=True).str.split()

In [208]:
#----------------
jeopardy.loc[0:5,'clean_question']

0    [for, the, last, 8, years, of, his, life, gali...
1    [no, 2, 1912, olympian, football, star, at, ca...
2    [the, city, of, yuma, in, this, state, has, a,...
3    [in, 1963, live, on, the, art, linkletter, sho...
4    [signer, of, the, dec, of, indep, framer, of, ...
5    [in, the, title, of, an, aesop, fable, this, i...
Name: clean_question, dtype: object

In [209]:
#------
jeopardy['clean_question'][3]

['in',
 '1963',
 'live',
 'on',
 'the',
 'art',
 'linkletter',
 'show',
 'this',
 'company',
 'served',
 'its',
 'billionth',
 'burger']

In [210]:
from nltk.corpus import stopwords
en_stops = set(stopwords.words('english'))

In [211]:
def rem_stop_words(the_list):
    no_stop_words=[]
    for each_word in the_list:
        if each_word not in en_stops:
            no_stop_words.append(each_word) 
    return no_stop_words

In [212]:
jeopardy['ques_rem_stopwords'] = jeopardy['clean_question'].apply(rem_stop_words)
jeopardy['ans_rem_stopwords'] = jeopardy['clean_answer'].apply(rem_stop_words)

In [213]:
jeopardy['ques_rem_stopwords'][0]

['last',
 '8',
 'years',
 'life',
 'galileo',
 'house',
 'arrest',
 'espousing',
 'man',
 'theory']

In [214]:
jeopardy['ques_rem_stopwords']

0        [last, 8, years, life, galileo, house, arrest,...
1        [2, 1912, olympian, football, star, carlisle, ...
2        [city, yuma, state, record, average, 4, 055, h...
3        [1963, live, art, linkletter, show, company, s...
4        [signer, dec, indep, framer, constitution, mas...
                               ...
19994    [8, 12, 18, number, u, states, touch, atlantic...
19995                             [new, power, generation]
19996    [1589, appointed, professor, mathematics, univ...
19997    [grand, jury, said, really, sorry, everything,...
19998    [llamas, heftiest, south, american, members, a...
Name: ques_rem_stopwords, Length: 19999, dtype: object

Q3:

    Write a function to normalize dollar values. The function should:
        Take in a string.
        Remove any punctuation in the string.
        Convert the string to an integer.
        Assign 0 instead if the conversion has an error.
        Return the integer.
    Normalize the Value column.
        Use the Pandas Series.apply method to apply the function to each item in the Value column.
        Assign the result to the clean_value column.
    Use the pandas.to_datetime function to convert the Air Date column to a datetime column.

In [215]:
import re
def clean_value(col):
    col=col.lower()
    try:
        val=int(re.sub('\W','',col))
    except Exception:
        val=0
    return val
    
print(clean_value('$2'))
jeopardy['clean_value']=jeopardy['Value'].apply(clean_value)
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])

2

Q4:


    Write a function that takes in a row in jeopardy, as a Series. It should:
        Split the clean_answer column around spaces and assign to the variable split_answer.
            Split the clean_question column around spaces and assign to the variable split_question.
        Create a variable called match_count, and set it to 0.
        If the is in split_answer, remove it using the remove method on lists. The is commonly found in answers and questions, but doesn't have any meaningful use in finding the answer.
        If the length of split_answer is 0, return 0. This prevents a division by zero error later.
        Loop through each item in split_answer, and see if it occurs in split_question. If it does, add 1 to match_count.
        Divide match_count by the length of split_answer, and return the result.
    Count how many times terms in clean_answer occur in clean_question.
        Use the Pandas DataFrame.apply method to apply the function to each row in jeopardy.
        Pass the axis=1 argument to apply the function across each row.
        Assign the result to the answer_in_question column.
    Find the mean of the answer_in_question column using the mean method on Series.
    Write up a markdown cell with a short explanation of how finding this mean might influence your studying strategy for Jeopardy.

In [216]:
def process_row(a_row):
    split_answer = a_row['ans_rem_stopwords']
    split_question = a_row['ques_rem_stopwords']
    match_count = 0
    #https://www.tutorialspoint.com/python_text_processing/python_remove_stopwords.htm
    #https://www.codespeedy.com/proper-noun-extraction-in-python-using-nlp-in-python/
    if len(split_answer) == 0:
        return 0
    else:
        for each_word in split_answer:
            n=0
            if each_word in split_question:
                match_count+=1
        return match_count/len(split_answer)

In [217]:
answer_in_question = jeopardy.apply(process_row,axis=1)
answer_in_question.mean()

0.04040620862211945

In [218]:
question_overlap=[]
terms_used=set()
jeopardy.sort_values('Air Date',inplace=True)

Q5:

    Create an empty list called question_overlap.
    Create an empty set called terms_used.
    Sort jeopardy by ascending air date.
    Use the iterrows Dataframe method to loop through each row of jeopardy.
        Split the clean_question column of the row on the space character (), and assign to split_question.
        Remove any words in split_question that are less than 6 characters long.
        Set match_count to 0.
        Loop through each word in split_question.
            If the term occurs in terms_used, add 1 to match_count.
        Add each word in split_question to terms_used using the add method on sets.
        If the length of split_question is greater than 0, divide match_count by the length of split_question.
        Append match_count to question_overlap.
    Assign question_overlap to the question_overlap column of jeopardy.
    Find the mean of the question_overlap column and print it.
    Look at the value, and think about what this might mean for questions being recycled. Write up your thoughts in a markdown cell.

In [219]:
for each_row in jeopardy['ques_rem_stopwords']:
    for word in each_row:
        match_count=0
        if word in terms_used:
            match_count+=1
        terms_used.add(word)
        
    if len(each_row)>0:
        match_count=match_count/len(each_row)
    question_overlap.append(match_count)
jeopardy['question_overlap']=question_overlap
jeopardy['question_overlap'].mean()

0.10772726232733855

Q6:

    Create a function that takes in a row from a Dataframe, and:
        If the clean_value column is greater than 800, assign 1 to value.
        Otherwise, assign 0 to value.
        Return value.
    Determine which questions are high and low value.
        Use the Pandas DataFrame.apply method to apply the function to each row in jeopardy.
        Pass the axis=1 argument to apply the function across each row.
        Assign the result to the high_value column.
    Create a function that takes in a word, and:
        Assigns 0 to low_count.
        Assigns 0 to high_count.
        Loops through each row in jeopardy using the iterrows method.
            Split the clean_question column on the space character ().
            If the word is in the split question:
                If the high_value column is 1, add 1 to high_count.
                Else, add 1 to low_count.
        Returns high_count and low_count. You can return multiple values by separating them with a comma.
    Randomly pick ten elements of terms_used and append them to a list called comparison_terms.
    Create an empty list called observed_expected.
    Loop through each term in comparison_terms, and:
        Run the function on the term to get the high value and low value counts.
        Append the result of running the function (which will be a list) to observed_expected.

In [220]:
def identify_high_price(value):
    if value > 800:
        return 1
    else:
        return 0
jeopardy['high_value'] = jeopardy['clean_value'].apply(identify_high_price)

In [221]:
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,ques_rem_stopwords,ans_rem_stopwords,clean_value,question_overlap,high_value
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,"[adventurous, 26th, president, he, was, 1st, t...","[theodore, roosevelt]","[adventurous, 26th, president, 1st, ride, auto...","[theodore, roosevelt]",0,0.0,0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,"[notorious, labor, leader, missing, since, 75]","[jimmy, hoffa]","[notorious, labor, leader, missing, since, 75]","[jimmy, hoffa]",200,0.0,0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,"[washington, proclaimed, nov, 26, 1789, this, ...",[thanksgiving],"[washington, proclaimed, nov, 26, 1789, first,...",[thanksgiving],200,0.0,0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,"[both, ferde, grofe, the, colorado, river, dug...","[the, grand, canyon]","[ferde, grofe, colorado, river, dug, national,...","[grand, canyon]",200,0.0,0
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,"[depending, on, the, book, he, could, be, a, j...",[tom],"[depending, book, could, jones, sawyer, uncle]",[tom],200,0.0,0

In [222]:
#sorting dictionary future reference: https://stackoverflow.com/questions/613183/how-do-i-sort-a-dictionary-by-value

#Most commonly used words in the set
ques_words_count={}
for each_row in jeopardy['ques_rem_stopwords']:
    for word in each_row:
        if word in ques_words_count:
            ques_words_count[word]+=1
        else:
            ques_words_count[word]=1
ques_words_count=pd.Series(ques_words_count)
comparison_terms=ques_words_count.sort_values(ascending=False).head(20)

In [223]:
def term_count(word):
    high_count=0
    low_count=0
    for index,each_question in jeopardy[['ques_rem_stopwords','high_value']].iterrows():
        split_ques=each_question['ques_rem_stopwords']
        if word in split_ques:
            if each_question['high_value']==1:
                high_count+=1
            else:
                low_count+=1
    return low_count,high_count

In [224]:
jeopardy['high_value'].value_counts()

0    14265
1     5734
Name: high_value, dtype: int64

In [229]:
observed_expected=[]
for each_term in comparison_terms.index:
    observed_expected.append(term_count(each_term))

In [230]:
comparison_terms

j          1266
com        1240
media      1223
www        1222
one        1216
archive    1216
http       1215
href       1214
name       1027
target      975
_blank      968
jpg         966
first       955
2           717
city        687
country     575
man         550
named       531
called      521
u           515
dtype: int64

In [231]:
observed_expected

[(562, 436),
 (543, 429),
 (534, 424),
 (532, 424),
 (828, 311),
 (528, 422),
 (528, 422),
 (527, 422),
 (666, 331),
 (409, 350),
 (407, 345),
 (404, 342),
 (660, 267),
 (487, 207),
 (482, 174),
 (414, 158),
 (377, 163),
 (335, 184),
 (346, 168),
 (379, 120)]

Q7:

    Find the number of rows in jeopardy where high_value is 1, and assign to high_value_count.
    Find the number of rows in jeopardy where high_value is 0, and assign to low_value_count.
    Create an empty list called chi_squared.
    Loop through each list in observed_expected.
        Add up both items in the list (high and low counts) to get the total count, and assign to total.
        Divide total by the number of rows in jeopardy to get the proportion across the dataset. Assign to total_prop.
        Multiply total_prop by high_value_count to get the expected term count for high value rows.
        Multiply total_prop by low_value_count to get the expected term count for low value rows.
        Use the scipy.stats.chisquare function to compute the chi-squared value and p-value given the expected and observed counts.
        Append the results to chi_squared.
    Look over the chi-squared values and the associated p-values. Are there any statistically significant results? Write up your thoughts in a markdown cell.

In [232]:
from scipy.stats import chisquare
import numpy as np
high_value_count = jeopardy['high_value'].value_counts()[1]
low_value_count = jeopardy['high_value'].value_counts()[0]
chi_squared = []
for each_list in observed_expected:
    total=np.sum(each_list)
    total_prop=total/jeopardy.shape[0]
    exp_high=total_prop*high_value_count
    exp_low=total_prop*low_value_count
    
    expected=np.array([exp_low,exp_high])
    observed=np.array([each_list[0],each_list[1]])
    chi_squared.append(chisquare(observed,expected))
    
chi_squared

[Power_divergenceResult(statistic=110.03294938129115, pvalue=9.637541484584616e-26),
 Power_divergenceResult(statistic=113.66264635645558, pvalue=1.544759312646789e-26),
 Power_divergenceResult(statistic=113.81569207842102, pvalue=1.43001338099039e-26),
 Power_divergenceResult(statistic=114.93143119580006, pvalue=8.146622926425492e-27),
 Power_divergenceResult(statistic=1.040419022244512, pvalue=0.3077240384514436),
 Power_divergenceResult(statistic=115.2260857824335, pvalue=7.021783831514579e-27),
 Power_divergenceResult(statistic=115.2260857824335, pvalue=7.021783831514579e-27),
 Power_divergenceResult(statistic=115.79000072776388, pvalue=5.2838729385639264e-27),
 Power_divergenceResult(statistic=9.99601236582899, pvalue=0.001568795613071451),
 Power_divergenceResult(statistic=112.9055088529927, pvalue=2.263069530044779e-26),
 Power_divergenceResult(statistic=108.86196841394603, pvalue=1.7398996293205455e-25),
 Power_divergenceResult(statistic=107.5775939532445, pvalue=3.3262445548375754e-25),
 Power_divergenceResult(statistic=0.007797212117726043, pvalue=0.9296367892962225),
 Power_divergenceResult(statistic=0.45321424032337376, pvalue=0.5008125019653666),
 Power_divergenceResult(statistic=1.4786743960342215, pvalue=0.2239820405589837),
 Power_divergenceResult(statistic=0.3078083713920206, pvalue=0.5790281803491657),
 Power_divergenceResult(statistic=0.6050483684070006, pvalue=0.4366583018309882),
 Power_divergenceResult(statistic=11.670463056582511, pvalue=0.0006350020349456288),
 Power_divergenceResult(statistic=4.048305063534577, pvalue=0.044215717944225866),
 Power_divergenceResult(statistic=5.21553440506906, pvalue=0.022385965808023912)]

[Index](#Index)

# 2

## Title

Instrusctions

[Index](#Index)

# 3

## Title

instructions

[Index](#Index)

# 4

## Title

instructions

[Index](#Index)

# 5

## Title

instructions

[Index](#Index)

# 6

## Title

instructions

[Index](#Index)

# 7

## Title

instructions

[Index](#Index)

# 8

## Title

instructions

[Index](#Index)

# 9

## Title

instructions

[Index](#Index)

# 10

## Title

instructions

[Index](#Index)

# 11

## Title

instructions

[Index](#Index)

# 12

## Title

instructions

[Index](#Index)

# 13

## Title

instructions

[Index](#Index)